:root {
  /* --outline: 1px solid tomato; */
}

body {
  font-family: "DM Sans", sans-serif;
  background: #f6f6f6;
}

ul {
  margin: 0;

}
address {
  font-style: normal;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

/* -----------------Website utilities-------------------- */

.line {
  text-decoration: none;
}

/* .list {
  padding: 0;
  margin: 0;
  list-style: none;
} */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -----------------Location & contacts-------------- */

.container {
  max-width: 1440px;
  /* padding-left: 15px;
  padding-right: 15px; */
  margin-left: auto;
  margin-right: auto;
}

li::marker {
  color: #f7f7f7;
  font-size: 14px;
}

.amenities-section {
  background-color: #000000;
  padding-top: 40px;
  padding-bottom: 64px;
}

h2 {
  margin: 0;
  padding-left: 20px;
  }

.amenities-general-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #f7f7f7;
  margin-bottom: 28px;
}

.amenities-general-list {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #f7f7f7;
  margin-bottom: 40px;
}

.amenities-general-item {
}
.amenities-bathroom-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #f7f7f7;
  margin-bottom: 28px;
}
.amenities-bathroom-list {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #f7f7f7;
    margin-bottom: 28px;
}
.amenities-bathroom-item {
}
.amenities-bedroom-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #f7f7f7;
  margin-bottom: 28px;
}
.amenities-bedroom-list {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #f7f7f7;
    margin-bottom: 28px;
}
.amenities-bedroom-item {
}
.amenities-kitchen-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #f7f7f7;
  margin-bottom: 28px;
}
.amenities-kitchen-list {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #f7f7f7;
    margin-bottom: 28px;
}
.amenities-kitchen-item {
}
.amenities-media-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #f7f7f7;
  margin-bottom: 28px;
}
.amenities-media-list {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #f7f7f7;
    margin-bottom: 64px;
}
.amenities-media-item {
}
.amenities-img-1 {
  margin-left: 96px;
}
.amenities-img-2 {
}
.amenities-button {
}

img {
  display: block;
  /* height: 100%;
  width: 100%; */
}



.amenities-images {
  position: relative;
}

.amenities-image-1 {
  margin-left: 90px;
  width: 259px;
  margin-bottom: 32px;
}

.amenities-img-2 {
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -50%);
  width: 207px;
  height: 103px;
}

.amenities-button {
  display: block;
  border: 0.8px solid #F7F7F7;
  border-radius: 32px;
  background-color: transparent;
  width: 175px;
  height: 34px;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #F7F7F7;
  cursor: pointer;
}