@media screen and (min-width: 769px) {
  .amenities-text {
    display: flex;
    flex-wrap: wrap;
  column-gap: 70px;
  row-gap: 100px;
  }

  .amenities-text div {
  display: inline-block;
  flex-direction: row;
  width: calc((100% - 70px) / 2);
}

.amenities-img-2 {
  margin-left: 560px;
  width: 439px;
  position: absolute;
  top: 80%;
  left: 10%;
  transform: translate(-50%, -50%);

}

.amenities-image-1 {
  display: block;
  position: absolute;
  top: 100%;
  left: 79%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 496px;
}
.amenities-button {
  margin: 0;
  margin-right: auto;
  margin-bottom: 235px;
  margin-top: 200px;
  margin-left: 480px;
  
  }

}